.images {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: 30% 100%;
  border-radius: 5%;
  border-style: solid;
  border-width: 1px;
  border-radius: 5%;
}

.card {
  height: 550px;
  background-color: rgb(93, 162, 154);
  width: 400px;
  border: 10px black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5%;
  margin-top: 10px;
  margin-left: 10px;
}

#cardDeck {
  display: flex;
  flex-direction: row;
  width: 1000px;
  flex-wrap: wrap;
}
